@import "./color.scss";

.banner-box {
	width: 100%;
    max-height: 70%;
	position: absolute;
	z-index: 1;
    background-color: $color_light;
    margin-top: 4rem;
    width: 40%;
    border: 5px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin-left: 30%;
}

.bg-animation {
	background: linear-gradient(to left, $color_darkgray, $color_gray );
	width: 100%;
	height: 100vh;
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
    li {
        position: absolute;
        display: block;
        list-style: none;
        width: 25px;
        height: 25px;
        background: rgba(255, 255, 255, 0.2);
        animation: animate 20s linear infinite;
        bottom: -150px;
    }
    li:nth-child(1) {
        left: 86%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }
    li:nth-child(2) {
        left: 12%;
        width: 30px;
        height: 30px;
        animation-delay: 1.5s;
        animation-duration: 10s;
    }
    li:nth-child(3) {
        left: 70%;
        width: 100px;
        height: 100px;
        animation-delay: 5.5s;
    }
    li:nth-child(4) {
        left: 42%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 15s;
    }
    li:nth-child(5) {
        left: 65%;
        width: 40px;
        height: 40px;
        animation-delay: 0s;
    }
    li:nth-child(6) {
        left: 15%;
        width: 110px;
        height: 110px;
        animation-delay: 3.5s;
    }
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}